.settings{
  .content_blocks__item{
    min-height: 310px;
  }
  &__title{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &__info{
    &_item{
      display: flex;
      justify-content: space-between;
      p{
        font-size: .8em;
        margin-bottom: 10px;
      }
    }
  }
  &__social{
    &_field{
      margin-bottom: 13px;
      display: flex;
      align-items: center;
      label{
        font-size: .8em;
        min-width: 80px;
        display: inline-block;
      }
      input{
        width: 100%;
        border: 1px #677175 solid;
        background-color: transparent;
        height: 30px;
        text-align: left;
        padding: 0 10px;
        font-weight: 300;
        font-size: .8em;
        font-family: nunito,sans-serif;
        color: #bac5ba;
        &::placeholder{
          color: #bac5ba;
          font-weight: 300;
          font-family: nunito,sans-serif;
        }
      }
    }
    &_button{
      margin-left: 80px;
      button{
        border: none;
        width: 100%;
        text-transform: uppercase;
        outline: transparent;
        background-color: #024f5a;
        color: #fff;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .4s all;
        &:hover{
          background-color: #036572;
        }
      }
    }
  }
  &__password{
    &_field{
      margin-bottom: 17px;
      position: relative;
      img{
        position: absolute;
        top: 4px;
        right: 30px;
        cursor: pointer;
      }
      input{
        width: 100%;
        border: 1px #677175 solid;
        background-color: transparent;
        height: 30px;
        text-align: center;
        font-weight: 300;
        font-size: .8em;
        font-family: nunito,sans-serif;
        color: #bac5ba;
        padding: 0 10px;
        &::placeholder{
          color: #bac5ba;
          font-weight: 300;
          font-family: nunito,sans-serif;
        }
      }
    }
    &_button{
      button{
        border: none;
        width: 100%;
        text-transform: uppercase;
        outline: transparent;
        background-color: #024f5a;
        color: #fff;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .4s all;
        &:hover{
          background-color: #036572;
        }
      }
    }
  }
}
@include device650(){
  .settings{
    .content_blocks__item{
      min-height: 250px;
      padding-bottom: 0;
    }
    &__title{
      font-size: 1.3em;
      margin-bottom: 20px;
    }
    &__info{
      &_item{
       p{
         font-size: .9em;
       }
      }
    }
    &__social{
      &_field{
        label{
          font-size: .9em;
        }
        input{
          font-size: 1em;
        }
      }
      &_button{
        margin-left: 0;
        button{
          font-size: 1em;
        }
      }
    }
    &__password{
      &_field{
        img{
          right: 10px;
        }
        input{
          font-size: 1em;
        }
      }
      &_button{
        margin-left: 0;
        button{
          font-size: 1em;
        }
      }
    }
  }
}